In [1]:
import pandas as pd 
import numpy as np

In [2]:
bac = pd.read_csv('Bachelor.csv')
fte = pd.read_csv('fteFallEnroll.csv')

In [3]:
datasets = [bac, fte]

__Drop unnecessary columns__

In [4]:
for dset in datasets:
    dset.drop(['Unnamed: 6','UnitID'], axis=1, inplace=True)

**Get sub-dataframe for extracting**

In [5]:
peers_bac = bac[bac['Institution Name'] != 'The University of Texas at San Antonio'].drop('Institution Name',axis=1)

In [6]:
peers_fte = fte[fte['Institution Name'] != 'The University of Texas at San Antonio'].drop('Institution Name',axis=1)

In [7]:
median_bac = { 'Year':[], 'Median':[] }
median_fte = { 'Year':[], 'Median':[] }

**Calculate medians for granted degrees and fte students and put them into dictionaries**

In [8]:
median_bac['Year'] = list(peers_bac.columns.values)
for column in peers_bac:
    median_bac['Median'].append(peers_bac[column].median())

In [9]:
median_bac

{'Year': ["Bachelor's degree (DRVC2012_RV)",
  "Bachelor's degree (DRVC2011_RV)",
  "Bachelor's degree (DRVC2010_RV)",
  "Bachelor's degree (DRVC2009_RV)"],
 'Median': [4349.0, 4031.0, 3812.5, 3651.0]}

In [10]:
median_fte['Year'] = list(peers_fte.columns.values)
for column in peers_fte:
    median_fte['Median'].append(peers_fte[column].median())

In [11]:
median_fte

{'Year': ['Full-time equivalent fall enrollment (DRVEF2011_RV)',
  'Full-time equivalent fall enrollment (DRVEF2010_RV)',
  'Full-time equivalent fall enrollment (DRVEF2009_RV)',
  'Full-time equivalent enrollment: Fall 2008 (DRVEF2008_RV)'],
 'Median': [24002.0, 22954.0, 22179.5, 20964.0]}

**Transform dictionaries into dataframes**

In [12]:
bac_df = pd.DataFrame(median_bac)
bac_df

                              Year  Median
0  Bachelor's degree (DRVC2012_RV)  4349.0
1  Bachelor's degree (DRVC2011_RV)  4031.0
2  Bachelor's degree (DRVC2010_RV)  3812.5
3  Bachelor's degree (DRVC2009_RV)  3651.0

In [13]:
fte_df = pd.DataFrame(median_fte)
fte_df

                                                Year   Median
0  Full-time equivalent fall enrollment (DRVEF201...  24002.0
1  Full-time equivalent fall enrollment (DRVEF201...  22954.0
2  Full-time equivalent fall enrollment (DRVEF200...  22179.5
3  Full-time equivalent enrollment: Fall 2008 (DR...  20964.0

**Extract similar columns for UTSA (fte and bac)

In [14]:
utsa_fte = fte[fte['Institution Name'] == 'The University of Texas at San Antonio'].drop('Institution Name',axis=1)
utsa_fte

,Full-time equivalent fall enrollment (DRVEF2011_RV),Full-time equivalent fall enrollment (DRVEF2010_RV),Full-time equivalent fall enrollment (DRVEF2009_RV),Full-time equivalent enrollment: Fall 2008 (DRVEF2008_RV)
5,26320,25521,24302,23792

In [15]:
utsa_bac = bac[bac['Institution Name'] == 'The University of Texas at San Antonio'].drop('Institution Name',axis=1)
utsa_bac

,Bachelor's degree (DRVC2012_RV),Bachelor's degree (DRVC2011_RV),Bachelor's degree (DRVC2010_RV),Bachelor's degree (DRVC2009_RV)
5,4225,4138,3881,3801

In [16]:
utsa_fte_list = list(utsa_fte.loc[5])

In [17]:
utsa_bac_list = list(utsa_bac.loc[5])

**And merge the information into the two dataframes created previously**

In [19]:
bac_df['UTSA'] = utsa_bac_list
bac_df

                              Year  Median  UTSA
0  Bachelor's degree (DRVC2012_RV)  4349.0  4225
1  Bachelor's degree (DRVC2011_RV)  4031.0  4138
2  Bachelor's degree (DRVC2010_RV)  3812.5  3881
3  Bachelor's degree (DRVC2009_RV)  3651.0  3801

In [20]:
fte_df['UTSA'] = utsa_fte_list
fte_df

                                                Year   Median   UTSA
0  Full-time equivalent fall enrollment (DRVEF201...  24002.0  26320
1  Full-time equivalent fall enrollment (DRVEF201...  22954.0  25521
2  Full-time equivalent fall enrollment (DRVEF200...  22179.5  24302
3  Full-time equivalent enrollment: Fall 2008 (DR...  20964.0  23792

In [32]:
for item in range(4):
    bac_df.loc[item,'Year'] = str(item + 2012)

In [34]:
for item in range(4):
    fte_df.loc[item,'Year'] = str(item + 2012)