In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FallEnrollment.csv')

In [3]:
df.head()

,DimYear,InstList,GenderDesc,EthnicityDesc,SemesterDesc,UGStatusDesc,Count
0,2014,Statewide,Female,African American,Fall,First-Time Transfer,"4,442"
1,2014,Statewide,Female,African American,Fall,First-time Undergraduate,"6,144"
2,2014,Statewide,Female,African American,Fall,Other Undergraduate,"25,260"
3,2014,Statewide,Female,Asian,Fall,First-Time Transfer,"1,506"
4,2014,Statewide,Female,Asian,Fall,First-time Undergraduate,"3,310"

In [4]:
df['InstList'].unique()

array(['Statewide', 'The University of Texas at San Antonio'],
      dtype=object)

In [5]:
UTSA = df[df['InstList'] == 'The University of Texas at San Antonio']

In [6]:
UTSA.head()

,DimYear,InstList,GenderDesc,EthnicityDesc,SemesterDesc,UGStatusDesc,Count
36,2014,The University of Texas at San Antonio,Female,African American,Fall,First-Time Transfer,65
37,2014,The University of Texas at San Antonio,Female,African American,Fall,First-time Undergraduate,364
38,2014,The University of Texas at San Antonio,Female,African American,Fall,Other Undergraduate,958
39,2014,The University of Texas at San Antonio,Female,Asian,Fall,First-Time Transfer,42
40,2014,The University of Texas at San Antonio,Female,Asian,Fall,First-time Undergraduate,211

In [7]:
year = { '2014':0, '2015':0, '2016':0, '2017': 0}

In [8]:
for index, item in UTSA.iterrows():
    year[str(item['DimYear'])] += int(item['Count'].replace(',',''))

In [9]:
year

{'2014': 24285, '2015': 24462, '2016': 24423, '2017': 26011}