In [1]:
#Important python libraries for data manipulating
import numpy as np
import pandas as pd

In [2]:
# Read excel files into Python dataframes
total_research = pd.read_excel('total_research.xlsx')
federal_research = pd.read_excel('federal_research.xlsx')
endowment_asserts = pd.read_excel('endowment_assets.xlsx')
annual_giving = pd.read_excel('annual_giving.xlsx')
natl_academy = pd.read_excel('natl_academy.xlsx')
faculty_awards = pd.read_excel('faculty_awards.xlsx')
dr_awards = pd.read_excel('doctorates.xlsx')
postdocs = pd.read_excel('postdocs.xlsx')

In [3]:
# put dataframes into lists to clean out columns and rows in the next steps
data = [endowment_asserts, annual_giving, natl_academy, faculty_awards, dr_awards,
        total_research, federal_research, postdocs]
data_2015 = [endowment_asserts, annual_giving,
       natl_academy, faculty_awards, dr_awards]
data_2014 = [total_research, federal_research, postdocs]

In [4]:
for dataset in data_2015:
    dataset.columns = dataset.iloc[0]
    dataset = dataset.reindex(dataset.index.drop(0))
for dataset in data_2014:
    dataset.columns = dataset.iloc[0]
    dataset = dataset.reindex(dataset.index.drop(0))

In [6]:
# Get the row that contains UTSA data
utsa = total_research["Institutions Reporting Any\nFederal Research in Past Five Years\n(in Alphabetical Order)"] == 'University of Texas - San Antonio'

In [7]:
total_research[utsa]

,nan,Research Group,Control,Institutions Reporting Any Federal Research in Past Five Years (in Alphabetical Order),2014 *** Total Research x $1000,2014 *** National Rank,2014 *** Control Rank,2013 *** Total Research x $1000,2013 *** National Rank,2013 *** Control Rank,...,1993 *** Control Rank,1992 *** Total Research x $1000,1992 *** National Rank,1992 *** Control Rank,1991 *** Total Research x $1000,1991 *** National Rank,1991 *** Control Rank,1990 *** Total Research x $1000,1990 *** National Rank,1990 *** Control Rank
862,NaN,$20-$40M,Public,University of Texas - San Antonio,42318,203,153,48599,196,147,...,212,0,571,349,0,567,349,0,570,351

**Get data of UTSA from year 2014-2015 to 2010-2011**

In [8]:
utsa_1st = {}
for dataset in data_2015:
    utsa_1st[dataset.columns[4]] = dataset[utsa].iloc[:,4].values[0]
for dataset in data_2014:
    utsa_1st[dataset.columns[4]] = dataset[utsa].iloc[:,4].values[0]

In [9]:
utsa_1st

{'2015\n***\nEndowment Assets \n x $1000': 121962,
 '2015\n***\nAnnual Giving \n x $1000': 20309,
 '2015\n***\nAcademy Members': 1,
 '2015\n***\nFaculty Awards': 7,
 '2015\n***\nDoctorates': 109,
 '2014\n***\nTotal Research \n x $1000': 42318,
 '2014\n***\nFederal Research \n x $1000': 22518,
 '2014\n***\nPostdocs': 52}

In [10]:
utsa_2nd = {}
for dataset in data_2015:
    utsa_2nd[dataset.columns[7]] = dataset[utsa].iloc[:,7].values[0]
for dataset in data_2014:
    utsa_2nd[dataset.columns[7]] = dataset[utsa].iloc[:,7].values[0]
utsa_2nd

{'2014\n***\nEndowment Assets \n x $1000': 113909,
 '2014\n***\nAnnual Giving \n x $1000': 15457.53,
 '2014\n***\nAcademy Members': 0,
 '2014\n***\nFaculty Awards': 1,
 '2014\n***\nDoctorates': 106,
 '2013\n***\nTotal Research \n x $1000': 48599,
 '2013\n***\nFederal Research \n x $1000': 28066,
 '2013\n***\nPostdocs': 45}

In [11]:
utsa_3rd = {}
for dataset in data_2015:
    utsa_3rd[dataset.columns[10]] = dataset[utsa].iloc[:,10].values[0]
for dataset in data_2014:
    utsa_3rd[dataset.columns[10]] = dataset[utsa].iloc[:,10].values[0]
utsa_3rd

{'2013\n***\nEndowment Assets \n x $1000': 100825,
 '2013\n***\nAnnual Giving \n x $1000': 14157,
 '2013\n***\nAcademy Members': 0,
 '2013\n***\nFaculty Awards': 1,
 '2013\n***\nDoctorates': 92,
 '2012\n***\nTotal Research \n x $1000': 48700,
 '2012\n***\nFederal Research \n x $1000': 29168,
 '2012\n***\nPostdocs': 48}

In [12]:
utsa_4th = {}
for dataset in data_2015:
    utsa_4th[dataset.columns[13]] = dataset[utsa].iloc[:,13].values[0]
for dataset in data_2014:
    utsa_4th[dataset.columns[13]] = dataset[utsa].iloc[:,13].values[0]
utsa_4th

{'2012\n***\nEndowment Assets \n x $1000': 89521,
 '2012\n***\nAnnual Giving \n x $1000': 12179,
 '2012\n***\nAcademy Members': 0,
 '2012\n***\nFaculty Awards': 4,
 '2012\n***\nDoctorates': 77,
 '2011\n***\nTotal Research \n x $1000': 50496,
 '2011\n***\nFederal Research \n x $1000': 28011,
 '2011\n***\nPostdocs': 43}

In [13]:
utsa_5th = {}
for dataset in data_2015:
    utsa_5th[dataset.columns[16]] = dataset[utsa].iloc[:,16].values[0]
for dataset in data_2014:
    utsa_5th[dataset.columns[16]] = dataset[utsa].iloc[:,16].values[0]
utsa_5th

{'2011\n***\nEndowment Assets \n x $1000': 81760,
 '2011\n***\nAnnual Giving \n x $1000': 30899,
 '2011\n***\nAcademy Members': 0,
 '2011\n***\nFaculty Awards': 1,
 '2011\n***\nDoctorates': 69,
 '2010\n***\nTotal Research \n x $1000': 51480,
 '2010\n***\nFederal Research \n x $1000': 27036,
 '2010\n***\nPostdocs': 39}

---

In [14]:
# index column for UTSA dataframe
index_col = ['Endowment Assets x $1000','Annual Giving x $1000','National Academy Members',
             'Faculty Awards','Doctorates Awared','Total Research x $1000', 'Federal Research x $1000',
             'Postdoctoral Appointees']

In [16]:
# transform UTSA data into Python dictionary and dataframe
utsa_dict = { 'Measure': index_col,'Year 2015 - 2014' : list(utsa_1st.values()),
            'Year 2014 - 2013': np.array(list(utsa_2nd.values())).astype(int),'Year 2013 - 2012': list(utsa_3rd.values()), 
            'Year 2012 - 2011': list(utsa_4th.values()),'Year 2011 - 2010': list(utsa_5th.values()),
          }

In [17]:
pd.DataFrame.from_dict(utsa_dict)

,Measure,Year 2015 - 2014,Year 2014 - 2013,Year 2013 - 2012,Year 2012 - 2011,Year 2011 - 2010
0,Endowment Assets x $1000,121962,113909,100825,89521,81760
1,Annual Giving x $1000,20309,15457,14157,12179,30899
2,National Academy Members,1,0,0,0,0
3,Faculty Awards,7,1,1,4,1
4,Doctorates Awared,109,106,92,77,69
5,Total Research x $1000,42318,48599,48700,50496,51480
6,Federal Research x $1000,22518,28066,29168,28011,27036
7,Postdoctoral Appointees,52,45,48,43,39

******

**Get list of AAU University of sample report**

In [18]:
AAU_df = pd.read_excel('AAU.xlsx',sheet_name='Total Research 2008')

In [19]:
AAU_df.head()

,Percentile,Total Research x $1000,Unnamed: 2,Institution,Total Research x $1000.1,Average
0,20th,249503,NaN,Brandeis University,49797.000000,153561.825081
1,40th,379182,NaN,University of Oregon,67378.000000,NaN
2,60th,515890,NaN,Rice University,74254.000000,NaN
3,80th,649362,NaN,University of Kansas - Lawrence,111510.436196,NaN
4,NaN,NaN,NaN,Indiana University - Bloomington,150788.464770,NaN

In [20]:
AAU_list = AAU_df['Institution'].values

***

**Get different dataframe for AAU list**

In [22]:
col_name = "Institutions Reporting Any\nFederal Research in Past Five Years\n(in Alphabetical Order)"

In [23]:
AAU_total_research = total_research[total_research[col_name].isin(AAU_list)].copy()

In [24]:
AAU_total_research.drop(AAU_total_research.columns[0],axis=1,inplace=True)

In [25]:
AAU_fed_research = federal_research[federal_research[col_name].isin(AAU_list)].copy().drop(federal_research.columns[0],axis=1)

In [26]:
AAU_endow_assets = endowment_asserts[endowment_asserts[col_name].isin(AAU_list)].copy()

In [27]:
AAU_endow_assets.drop(AAU_endow_assets.columns[0],axis=1,inplace=True)

In [28]:
AAU_annual_giving = annual_giving[annual_giving[col_name].isin(AAU_list)].copy()

In [29]:
AAU_annual_giving.drop(AAU_annual_giving.columns[0],axis=1,inplace=True)

In [30]:
AAU_nat_member = natl_academy[natl_academy[col_name].isin(AAU_list)].copy()

In [31]:
AAU_nat_member.drop(AAU_nat_member.columns[0],axis=1,inplace=True)

In [32]:
AAU_fac_award = faculty_awards[faculty_awards[col_name].isin(AAU_list)].copy()

In [33]:
AAU_fac_award.drop(AAU_fac_award.columns[0],axis=1,inplace=True)

In [34]:
AAU_doc_award = dr_awards[dr_awards[col_name].isin(AAU_list)].copy()

In [35]:
AAU_doc_award.drop(AAU_doc_award.columns[0],axis=1,inplace=True)

In [36]:
AAU_postdoc = postdocs[postdocs[col_name].isin(AAU_list)].copy()

In [37]:
AAU_postdoc.drop(AAU_postdoc.columns[0],axis=1,inplace=True)

***

# Year 2014 - 2015

**Total Research for AAU In Year 15-14**

In [38]:
search_string = '2014\n***\nTotal Research \n x $1000'

In [39]:
aau_research_2014 = AAU_total_research[[col_name,search_string]].sort_values(by=search_string)
aau_research_2014.columns = ['Institution','Total Research x $1000']

In [40]:
writer = pd.ExcelWriter('2014-2015.xlsx')
aau_research_2014.to_excel(writer,'Total Research 2014')

**Federal Research for AAU In Year 15-14**

In [41]:
search_string_1 = '2014\n***\nFederal Research \n x $1000'

In [42]:
aau_federal_2014 = AAU_fed_research[[col_name,search_string_1]].sort_values(by=search_string_1)
aau_federal_2014.columns = ['Institution','Federal Research']
aau_federal_2014.to_excel(writer,'Federal Research 2014')

**Endowmen Assets for AAU In Year 15-14**

In [43]:
searh_string_2 = '2015\n***\nEndowment Assets \n x $1000'

In [44]:
aau_assets_2015 = AAU_endow_assets[[col_name,searh_string_2]].sort_values(by=searh_string_2)
aau_assets_2015.columns = ['Institution','Endowment Assets']
aau_assets_2015.to_excel(writer,'Endowment 2015')

**Annual Giving for AAU In Year 15-14**

In [45]:
search_string_3 = '2015\n***\nAnnual Giving \n x $1000'

In [46]:
aau_giving_2015 = AAU_annual_giving[[col_name,search_string_3]].sort_values(by=search_string_3)
aau_giving_2015.columns = ['Institution', 'Annual Giving']
aau_giving_2015.to_excel(writer,'Annual Giving 2015')

**National Academy Members for AAU In Year 15-14**

In [47]:
search_string_4 = '2015\n***\nAcademy Members'

In [48]:
aau_member_2015 = AAU_nat_member[[col_name,search_string_4]].sort_values(by=search_string_4)
aau_member_2015.columns = ['Institution', 'National Academy Members']
aau_member_2015.to_excel(writer,'National Academy Members 2015')

**Faculty Awards 2015 (AAU)**

In [49]:
search_string_5 = '2015\n***\nFaculty Awards'

In [50]:
aau_award_2015 = AAU_fac_award[[col_name,search_string_5]].sort_values(by=search_string_5)
aau_award_2015.columns = ['Institution', 'Faculty Awards']
aau_award_2015.to_excel(writer,'Faculty Awards 2015')

**Doctorates Granted 2015**

In [51]:
search_string_6 = '2015\n***\nDoctorates'

In [52]:
aau_dr_2015 = AAU_doc_award[[col_name,search_string_6]].sort_values(by=search_string_6)
aau_dr_2015.columns = ['Institution', 'Doctorates Awards']
aau_dr_2015.to_excel(writer,'Doctorates Awards 2015')

**Postdoctoral Appointees 2014**

In [53]:
search_string_7 = '2014\n***\nPostdocs'

In [54]:
# postdr_2014_20th = np.percentile(AAU_postdoc[search_string_7],[0,20])
# #Average Postdoc Appointees for AAU Univerisiies in 2008 0-20
# AAU_postdoc[(AAU_postdoc[search_string_7] >= postdr_2014_20th[0]) &
#             (AAU_postdoc[search_string_7] <= postdr_2014_20th[1])][search_string_7].sort_values().mean().astype(int)

In [55]:
aau_postdr_2015 = AAU_postdoc[[col_name,search_string_7]].sort_values(by=search_string_7)
aau_postdr_2015.columns = ['Institution', 'Postdoctoral Appointees']
aau_postdr_2015.to_excel(writer,'Postdoctoral Appointees 2014')
writer.save()

************************

# Year 2013 - 2014

**Total Research**

In [56]:
search_string = '2013\n***\nTotal Research \n x $1000'

In [57]:
aau_research_2013 = AAU_total_research[[col_name,search_string]].sort_values(by=search_string)
aau_research_2013.columns = ['Institution','Total Research x $1000']
writer = pd.ExcelWriter('2013-2014.xlsx')
aau_research_2013.to_excel(writer,'Total Research 2013')

**Federal Research**

In [58]:
search_string_1 = '2013\n***\nFederal Research \n x $1000'
aau_federal_2013 = AAU_fed_research[[col_name,search_string_1]].sort_values(by=search_string_1)
aau_federal_2013.columns = ['Institution','Federal Research']
aau_federal_2013.to_excel(writer,'Federal Research 2013')

**Endowment Assets**

In [59]:
searh_string_2 = '2014\n***\nEndowment Assets \n x $1000'
aau_assets_2014 = AAU_endow_assets[[col_name,searh_string_2]].sort_values(by=searh_string_2)
aau_assets_2014.columns = ['Institution','Endowment Assets']
aau_assets_2014.to_excel(writer,'Endowment 2014')

**Annual Giving**

In [60]:
search_string_3 = '2014\n***\nAnnual Giving \n x $1000'
aau_giving_2014 = AAU_annual_giving[[col_name,search_string_3]].sort_values(by=search_string_3)
aau_giving_2014.columns = ['Institution', 'Annual Giving']
aau_giving_2014.to_excel(writer,'Annual Giving 2014')

**National Academy Members**

In [61]:
search_string_4 = '2014\n***\nAcademy Members'
aau_member_2014 = AAU_nat_member[[col_name,search_string_4]].sort_values(by=search_string_4)
aau_member_2014.columns = ['Institution', 'National Academy Members']
aau_member_2014.to_excel(writer,'National Academy Members 2014')

**Faculty Awards**

In [62]:
search_string_5 = '2014\n***\nFaculty Awards'
aau_award_2014 = AAU_fac_award[[col_name,search_string_5]].sort_values(by=search_string_5)
aau_award_2014.columns = ['Institution', 'Faculty Awards']
aau_award_2014.to_excel(writer,'Faculty Awards 2014')

**Doctorates Awards**

In [63]:
search_string_6 = '2014\n***\nDoctorates'
aau_dr_2014 = AAU_doc_award[[col_name,search_string_6]].sort_values(by=search_string_6)
aau_dr_2014.columns = ['Institution', 'Doctorates Awards']
aau_dr_2014.to_excel(writer,'Doctorates Awards 2014')

**Postdoctoral Appointees**

In [64]:
search_string_7 = '2013\n***\nPostdocs'
aau_postdr_2013 = AAU_postdoc[[col_name,search_string_7]].sort_values(by=search_string_7)
aau_postdr_2013.columns = ['Institution', 'Postdoctoral Appointees']
aau_postdr_2013.to_excel(writer,'Postdoctoral Appointees 2013')
writer.save()

***

# Year 2012 - 2013

**Total Research**

In [65]:
search_string = '2012\n***\nTotal Research \n x $1000'

In [66]:
aau_research_2012 = AAU_total_research[[col_name,search_string]].sort_values(by=search_string)
aau_research_2012.columns = ['Institution','Total Research x $1000']
writer = pd.ExcelWriter('2012-2013.xlsx')
aau_research_2012.to_excel(writer,'Total Research 2012')

**Federal Research**

In [67]:
search_string_1 = '2012\n***\nFederal Research \n x $1000'
aau_federal_2012 = AAU_fed_research[[col_name,search_string_1]].sort_values(by=search_string_1)
aau_federal_2012.columns = ['Institution','Federal Research']
aau_federal_2012.to_excel(writer,'Federal Research 2012')

**Endowment Assets**

In [68]:
searh_string_2 = '2013\n***\nEndowment Assets \n x $1000'
aau_assets_2013 = AAU_endow_assets[[col_name,searh_string_2]].sort_values(by=searh_string_2)
aau_assets_2013.columns = ['Institution','Endowment Assets']
aau_assets_2013.to_excel(writer,'Endowment 2013')

**Annual Giving**

In [69]:
search_string_3 = '2013\n***\nAnnual Giving \n x $1000'
aau_giving_2013 = AAU_annual_giving[[col_name,search_string_3]].sort_values(by=search_string_3)
aau_giving_2013.columns = ['Institution', 'Annual Giving']
aau_giving_2013.to_excel(writer,'Annual Giving 2013')

**National Academy Members**

In [70]:
search_string_4 = '2013\n***\nAcademy Members'
aau_member_2013 = AAU_nat_member[[col_name,search_string_4]].sort_values(by=search_string_4)
aau_member_2013.columns = ['Institution', 'National Academy Members']
aau_member_2013.to_excel(writer,'National Academy Members 2013')

**Faculty Awards**

In [71]:
search_string_5 = '2013\n***\nFaculty Awards'
aau_award_2013 = AAU_fac_award[[col_name,search_string_5]].sort_values(by=search_string_5)
aau_award_2013.columns = ['Institution', 'Faculty Awards']
aau_award_2013.to_excel(writer,'Faculty Awards 2013')

**Doctorates Awards**

In [72]:
search_string_6 = '2013\n***\nDoctorates'
aau_dr_2013 = AAU_doc_award[[col_name,search_string_6]].sort_values(by=search_string_6)
aau_dr_2013.columns = ['Institution', 'Doctorates Awards']
aau_dr_2013.to_excel(writer,'Doctorates Awards 2013')

**Postdoctoral Appointees**

In [73]:
search_string_7 = '2012\n***\nPostdocs'
aau_postdr_2012 = AAU_postdoc[[col_name,search_string_7]].sort_values(by=search_string_7)
aau_postdr_2012.columns = ['Institution', 'Postdoctoral Appointees']
aau_postdr_2012.to_excel(writer,'Postdoctoral Appointees 2012')
writer.save()

***

# Year 2011 - 2012

**Total Research**

In [74]:
search_string = '2011\n***\nTotal Research \n x $1000'

In [75]:
aau_research_2011 = AAU_total_research[[col_name,search_string]].sort_values(by=search_string)
aau_research_2011.columns = ['Institution','Total Research x $1000']
writer = pd.ExcelWriter('2011-2012.xlsx')
aau_research_2011.to_excel(writer,'Total Research 2011')

**Federal Research**

In [76]:
search_string_1 = '2011\n***\nFederal Research \n x $1000'
aau_federal_2011 = AAU_fed_research[[col_name,search_string_1]].sort_values(by=search_string_1)
aau_federal_2011.columns = ['Institution','Federal Research']
aau_federal_2011.to_excel(writer,'Federal Research 2011')

**Endowment Assets**

In [77]:
searh_string_2 = '2012\n***\nEndowment Assets \n x $1000'
aau_assets_2012 = AAU_endow_assets[[col_name,searh_string_2]].sort_values(by=searh_string_2)
aau_assets_2012.columns = ['Institution','Endowment Assets']
aau_assets_2012.to_excel(writer,'Endowment 2012')

**Annual Giving**

In [78]:
search_string_3 = '2012\n***\nAnnual Giving \n x $1000'
aau_giving_2012 = AAU_annual_giving[[col_name,search_string_3]].sort_values(by=search_string_3)
aau_giving_2012.columns = ['Institution', 'Annual Giving']
aau_giving_2012.to_excel(writer,'Annual Giving 2012')

**National Academy Members**

In [79]:
search_string_4 = '2012\n***\nAcademy Members'
aau_member_2012 = AAU_nat_member[[col_name,search_string_4]].sort_values(by=search_string_4)
aau_member_2012.columns = ['Institution', 'National Academy Members']
aau_member_2012.to_excel(writer,'National Academy Members 2012')

**Faculty Awards**

In [80]:
search_string_5 = '2012\n***\nFaculty Awards'
aau_award_2012 = AAU_fac_award[[col_name,search_string_5]].sort_values(by=search_string_5)
aau_award_2012.columns = ['Institution', 'Faculty Awards']
aau_award_2012.to_excel(writer,'Faculty Awards 2012')

**Doctorates Awards**

In [81]:
search_string_6 = '2012\n***\nDoctorates'
aau_dr_2012 = AAU_doc_award[[col_name,search_string_6]].sort_values(by=search_string_6)
aau_dr_2012.columns = ['Institution', 'Doctorates Awards']
aau_dr_2012.to_excel(writer,'Doctorates Awards 2012')

**Postdoctoral Appointees**

In [82]:
search_string_7 = '2011\n***\nPostdocs'
aau_postdr_2011 = AAU_postdoc[[col_name,search_string_7]].sort_values(by=search_string_7)
aau_postdr_2011.columns = ['Institution', 'Postdoctoral Appointees']
aau_postdr_2011.to_excel(writer,'Postdoctoral Appointees 2011')
writer.save()

***

# Year 2010 - 2011

**Total Research**

In [83]:
search_string = '2010\n***\nTotal Research \n x $1000'

In [84]:
aau_research_2010 = AAU_total_research[[col_name,search_string]].sort_values(by=search_string)
aau_research_2010.columns = ['Institution','Total Research x $1000']
writer = pd.ExcelWriter('2010-2011.xlsx')
aau_research_2010.to_excel(writer,'Total Research 2010')

**Federal Research**

In [85]:
search_string_1 = '2010\n***\nFederal Research \n x $1000'
aau_federal_2010 = AAU_fed_research[[col_name,search_string_1]].sort_values(by=search_string_1)
aau_federal_2010.columns = ['Institution','Federal Research']
aau_federal_2010.to_excel(writer,'Federal Research 2010')

**Endowment Assets**

In [86]:
searh_string_2 = '2011\n***\nEndowment Assets \n x $1000'
aau_assets_2011 = AAU_endow_assets[[col_name,searh_string_2]].sort_values(by=searh_string_2)
aau_assets_2011.columns = ['Institution','Endowment Assets']
aau_assets_2011.to_excel(writer,'Endowment 2011')

**Annual Giving**

In [87]:
search_string_3 = '2011\n***\nAnnual Giving \n x $1000'
aau_giving_2011 = AAU_annual_giving[[col_name,search_string_3]].sort_values(by=search_string_3)
aau_giving_2011.columns = ['Institution', 'Annual Giving']
aau_giving_2011.to_excel(writer,'Annual Giving 2011')

**National Academy Members**

In [88]:
search_string_4 = '2011\n***\nAcademy Members'
aau_member_2011 = AAU_nat_member[[col_name,search_string_4]].sort_values(by=search_string_4)
aau_member_2011.columns = ['Institution', 'National Academy Members']
aau_member_2011.to_excel(writer,'National Academy Members 2011')

**Faculty Awards**

In [89]:
search_string_5 = '2011\n***\nFaculty Awards'
aau_award_2011 = AAU_fac_award[[col_name,search_string_5]].sort_values(by=search_string_5)
aau_award_2011.columns = ['Institution', 'Faculty Awards']
aau_award_2011.to_excel(writer,'Faculty Awards 2011')

**Doctorates Awards**

In [90]:
search_string_6 = '2011\n***\nDoctorates'
aau_dr_2011 = AAU_doc_award[[col_name,search_string_6]].sort_values(by=search_string_6)
aau_dr_2011.columns = ['Institution', 'Doctorates Awards']
aau_dr_2011.to_excel(writer,'Doctorates Awards 2011')

**Postdoctoral Appointees**

In [91]:
search_string_7 = '2010\n***\nPostdocs'
aau_postdr_2010 = AAU_postdoc[[col_name,search_string_7]].sort_values(by=search_string_7)
aau_postdr_2010.columns = ['Institution', 'Postdoctoral Appointees']
aau_postdr_2010.to_excel(writer,'Postdoctoral Appointees 2010')
writer.save()