In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
total_research = pd.read_excel('total_research.xlsx')
federal_research = pd.read_excel('federal_research.xlsx')
endowment_asserts = pd.read_excel('endowment_assets.xlsx')
annual_giving = pd.read_excel('annual_giving.xlsx')
natl_academy = pd.read_excel('natl_academy.xlsx')
faculty_awards = pd.read_excel('faculty_awards.xlsx')
dr_awards = pd.read_excel('doctorates.xlsx')
postdocs = pd.read_excel('postdocs.xlsx')

In [3]:
data = [endowment_asserts, annual_giving, natl_academy, faculty_awards, dr_awards,
        total_research, federal_research, postdocs]
data_2015 = [endowment_asserts, annual_giving,
       natl_academy, faculty_awards, dr_awards]
data_2014 = [total_research, federal_research, postdocs]

In [4]:
for dataset in data_2015:
    dataset.columns = dataset.iloc[0]
    dataset = dataset.reindex(dataset.index.drop(0))
for dataset in data_2014:
    dataset.columns = dataset.iloc[0]
    dataset = dataset.reindex(dataset.index.drop(0))

In [5]:
total_research.head(2)

,nan,Research Group,Control,Institutions Reporting Any Federal Research in Past Five Years (in Alphabetical Order),2014 *** Total Research x $1000,2014 *** National Rank,2014 *** Control Rank,2013 *** Total Research x $1000,2013 *** National Rank,2013 *** Control Rank,...,1993 *** Control Rank,1992 *** Total Research x $1000,1992 *** National Rank,1992 *** Control Rank,1991 *** Total Research x $1000,1991 *** National Rank,1991 *** Control Rank,1990 *** Total Research x $1000,1990 *** National Rank,1990 *** Control Rank
0,NaN,Research Group,Control,Institutions Reporting Any\nFederal Research i...,2014\n***\nTotal Research \n x $1000,2014\n***\nNational Rank,2014\n***\nControl Rank,2013\n***\nTotal Research \n x $1000,2013\n***\nNational Rank,2013\n***\nControl Rank,...,1993\n***\nControl Rank,1992\n***\nTotal Research \n x $1000,1992\n***\nNational Rank,1992\n***\nControl Rank,1991\n***\nTotal Research \n x $1000,1991\n***\nNational Rank,1991\n***\nControl Rank,1990\n***\nTotal Research \n x $1000,1990\n***\nNational Rank,1990\n***\nControl Rank
1,NaN,Under $1M,Private,A.T. Still University of Health Sciences,926,603,221,744,632,235,...,137,856,395,128,624,408,133,539,423,144

In [6]:
utsa = total_research["Institutions Reporting Any\nFederal Research in Past Five Years\n(in Alphabetical Order)"] == 'University of Texas - San Antonio'

In [7]:
total_research[utsa]

,nan,Research Group,Control,Institutions Reporting Any Federal Research in Past Five Years (in Alphabetical Order),2014 *** Total Research x $1000,2014 *** National Rank,2014 *** Control Rank,2013 *** Total Research x $1000,2013 *** National Rank,2013 *** Control Rank,...,1993 *** Control Rank,1992 *** Total Research x $1000,1992 *** National Rank,1992 *** Control Rank,1991 *** Total Research x $1000,1991 *** National Rank,1991 *** Control Rank,1990 *** Total Research x $1000,1990 *** National Rank,1990 *** Control Rank
862,NaN,$20-$40M,Public,University of Texas - San Antonio,42318,203,153,48599,196,147,...,212,0,571,349,0,567,349,0,570,351

In [8]:
utsa_1st = {}
for dataset in data_2015:
    utsa_1st[dataset.columns[4]] = dataset[utsa].iloc[:,4].values[0]
for dataset in data_2014:
    utsa_1st[dataset.columns[4]] = dataset[utsa].iloc[:,4].values[0]

In [9]:
utsa_1st

{'2015\n***\nEndowment Assets \n x $1000': 121962,
 '2015\n***\nAnnual Giving \n x $1000': 20309,
 '2015\n***\nAcademy Members': 1,
 '2015\n***\nFaculty Awards': 7,
 '2015\n***\nDoctorates': 109,
 '2014\n***\nTotal Research \n x $1000': 42318,
 '2014\n***\nFederal Research \n x $1000': 22518,
 '2014\n***\nPostdocs': 52}

In [10]:
utsa_2nd = {}
for dataset in data_2015:
    utsa_2nd[dataset.columns[7]] = dataset[utsa].iloc[:,7].values[0]
for dataset in data_2014:
    utsa_2nd[dataset.columns[7]] = dataset[utsa].iloc[:,7].values[0]
utsa_2nd

{'2014\n***\nEndowment Assets \n x $1000': 113909,
 '2014\n***\nAnnual Giving \n x $1000': 15457.53,
 '2014\n***\nAcademy Members': 0,
 '2014\n***\nFaculty Awards': 1,
 '2014\n***\nDoctorates': 106,
 '2013\n***\nTotal Research \n x $1000': 48599,
 '2013\n***\nFederal Research \n x $1000': 28066,
 '2013\n***\nPostdocs': 45}

In [11]:
utsa_3rd = {}
for dataset in data_2015:
    utsa_3rd[dataset.columns[10]] = dataset[utsa].iloc[:,10].values[0]
for dataset in data_2014:
    utsa_3rd[dataset.columns[10]] = dataset[utsa].iloc[:,10].values[0]
utsa_3rd

{'2013\n***\nEndowment Assets \n x $1000': 100825,
 '2013\n***\nAnnual Giving \n x $1000': 14157,
 '2013\n***\nAcademy Members': 0,
 '2013\n***\nFaculty Awards': 1,
 '2013\n***\nDoctorates': 92,
 '2012\n***\nTotal Research \n x $1000': 48700,
 '2012\n***\nFederal Research \n x $1000': 29168,
 '2012\n***\nPostdocs': 48}

In [12]:
utsa_4th = {}
for dataset in data_2015:
    utsa_4th[dataset.columns[13]] = dataset[utsa].iloc[:,13].values[0]
for dataset in data_2014:
    utsa_4th[dataset.columns[13]] = dataset[utsa].iloc[:,13].values[0]
utsa_4th

{'2012\n***\nEndowment Assets \n x $1000': 89521,
 '2012\n***\nAnnual Giving \n x $1000': 12179,
 '2012\n***\nAcademy Members': 0,
 '2012\n***\nFaculty Awards': 4,
 '2012\n***\nDoctorates': 77,
 '2011\n***\nTotal Research \n x $1000': 50496,
 '2011\n***\nFederal Research \n x $1000': 28011,
 '2011\n***\nPostdocs': 43}

In [13]:
utsa_5th = {}
for dataset in data_2015:
    utsa_5th[dataset.columns[16]] = dataset[utsa].iloc[:,16].values[0]
for dataset in data_2014:
    utsa_5th[dataset.columns[16]] = dataset[utsa].iloc[:,16].values[0]
utsa_5th

{'2011\n***\nEndowment Assets \n x $1000': 81760,
 '2011\n***\nAnnual Giving \n x $1000': 30899,
 '2011\n***\nAcademy Members': 0,
 '2011\n***\nFaculty Awards': 1,
 '2011\n***\nDoctorates': 69,
 '2010\n***\nTotal Research \n x $1000': 51480,
 '2010\n***\nFederal Research \n x $1000': 27036,
 '2010\n***\nPostdocs': 39}

In [14]:
index_col = ['Endowment Assets x $1000','Annual Giving x $1000','National Academy Members',
             'Faculty Awards','Doctorates Awared','Total Research x $1000', 'Federal Research x $1000',
             'Postdoctoral Appointees']

In [15]:
list(utsa_1st.values())

[121962, 20309, 1, 7, 109, 42318, 22518, 52]

In [16]:
utsa_dict = { 'Measure': index_col,'Year 2015 - 2014' : list(utsa_1st.values()),
            'Year 2014 - 2013': np.array(list(utsa_2nd.values())).astype(int),'Year 2013 - 2012': list(utsa_3rd.values()), 
            'Year 2012 - 2011': list(utsa_4th.values()),'Year 2011 - 2010': list(utsa_5th.values()),
          }

In [17]:
pd.DataFrame.from_dict(utsa_dict)

,Measure,Year 2015 - 2014,Year 2014 - 2013,Year 2013 - 2012,Year 2012 - 2011,Year 2011 - 2010
0,Endowment Assets x $1000,121962,113909,100825,89521,81760
1,Annual Giving x $1000,20309,15457,14157,12179,30899
2,National Academy Members,1,0,0,0,0
3,Faculty Awards,7,1,1,4,1
4,Doctorates Awared,109,106,92,77,69
5,Total Research x $1000,42318,48599,48700,50496,51480
6,Federal Research x $1000,22518,28066,29168,28011,27036
7,Postdoctoral Appointees,52,45,48,43,39

In [18]:
AAU_df = pd.read_excel('AAU.xlsx',sheet_name='Total Research 2008')

In [19]:
AAU_df.head()

,Percentile,Total Research x $1000,Unnamed: 2,Institution,Total Research x $1000.1,Average
0,20th,249503,NaN,Brandeis University,49797.000000,153561.825081
1,40th,379182,NaN,University of Oregon,67378.000000,NaN
2,60th,515890,NaN,Rice University,74254.000000,NaN
3,80th,649362,NaN,University of Kansas - Lawrence,111510.436196,NaN
4,NaN,NaN,NaN,Indiana University - Bloomington,150788.464770,NaN

In [20]:
AAU_list = AAU_df['Institution'].values

In [21]:
AAU_list

array(['Brandeis University', 'University of Oregon', 'Rice University',
       'University of Kansas - Lawrence',
       'Indiana University - Bloomington', 'Tulane University',
       'Brown University', 'Princeton University',
       'University of California - Santa Barbara',
       'Carnegie Mellon University', 'Iowa State University',
       'University of Missouri - Columbia', 'Stony Brook University',
       'University of Virginia', 'University of Colorado - Boulder',
       'California Institute of Technology', 'University of Iowa',
       'Rutgers the State University of NJ - New Brunswick',
       'New York University', 'University of California - Irvine',
       'University at Buffalo', 'Michigan State University',
       'University of Chicago', 'University of Rochester',
       'University of Maryland - College Park',
       'Case Western Reserve University', 'Vanderbilt University',
       'Purdue University - West Lafayette', 'Emory University',
       'Harvard University', 'Cornell University',
       'Northwestern University', 'Yale University',
       'University of Texas - Austin',
       'University of Illinois - Urbana-Champaign',
       'University of Southern California',
       'Georgia Institute of Technology',
       'University of North Carolina - Chapel Hill',
       'University of Arizona', 'Columbia University',
       'Washington University in St. Louis', 'Texas A&M University',
       'University of Florida', 'University of California - Berkeley',
       'University of Pittsburgh - Pittsburgh',
       'Pennsylvania State University - University Park',
       'University of California - Davis',
       'Massachusetts Institute of Technology',
       'University of Minnesota - Twin Cities', 'Stanford University',
       'Ohio State University - Columbus', 'University of Pennsylvania',
       'University of Washington - Seattle', 'Duke University',
       'University of California - San Diego',
       'University of California - Los Angeles',
       'University of Michigan - Ann Arbor',
       'University of Wisconsin - Madison', 'Johns Hopkins University'],
      dtype=object)

In [22]:
col_name = "Institutions Reporting Any\nFederal Research in Past Five Years\n(in Alphabetical Order)"

**Get different dataframe for AAU list**

In [23]:
AAU_total_research = total_research[total_research[col_name].isin(AAU_list)].copy()

In [24]:
AAU_total_research.drop(AAU_total_research.columns[0],axis=1,inplace=True)

In [25]:
AAU_fed_research = federal_research[federal_research[col_name].isin(AAU_list)].copy().drop(federal_research.columns[0],axis=1)

In [26]:
AAU_endow_assets = endowment_asserts[endowment_asserts[col_name].isin(AAU_list)].copy()

In [27]:
AAU_endow_assets.drop(AAU_endow_assets.columns[0],axis=1,inplace=True)

In [28]:
AAU_annual_giving = annual_giving[annual_giving[col_name].isin(AAU_list)].copy()

In [29]:
AAU_annual_giving.drop(AAU_annual_giving.columns[0],axis=1,inplace=True)

In [30]:
AAU_nat_member = natl_academy[natl_academy[col_name].isin(AAU_list)].copy()

In [31]:
AAU_nat_member.drop(AAU_nat_member.columns[0],axis=1,inplace=True)

In [32]:
AAU_fac_award = faculty_awards[faculty_awards[col_name].isin(AAU_list)].copy()

In [33]:
AAU_fac_award.drop(AAU_fac_award.columns[0],axis=1,inplace=True)

In [34]:
AAU_doc_award = dr_awards[dr_awards[col_name].isin(AAU_list)].copy()

In [35]:
AAU_doc_award.drop(AAU_doc_award.columns[0],axis=1,inplace=True)

In [36]:
AAU_postdoc = postdocs[postdocs[col_name].isin(AAU_list)].copy()

In [37]:
AAU_postdoc.drop(AAU_postdoc.columns[0],axis=1,inplace=True)

**Total Research for AAU In Year 15-14**

In [38]:
search_string = '2014\n***\nTotal Research \n x $1000'

In [39]:
TResearch_1514_20th = np.percentile(AAU_total_research[search_string],[0,20])

In [40]:
#Average Total Research for AAU Univerisiies in 2014 (0th-20th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_20th[0]) & (AAU_total_research[search_string] <= TResearch_1514_20th[1])][search_string].mean().astype(int)

189320

In [43]:
TResearch_1514_40th = np.percentile(AAU_total_research[search_string],[21,40])

In [44]:
#Average Total Research for AAU Univerisiies in 2014 (21st-40th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_40th[0]) & (AAU_total_research[search_string] <= TResearch_1514_40th[1])][search_string].mean().astype(int)

372768

In [46]:
TResearch_1514_60th = np.percentile(AAU_total_research[search_string],[41,60])

In [47]:
#Average Total Research for AAU Univerisiies in 2014 (41st-60th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_60th[0]) & (AAU_total_research[search_string] <= TResearch_1514_60th[1])][search_string].mean().astype(int)

567036

In [48]:
TResearch_1514_80th = np.percentile(AAU_total_research[search_string],[61,80])

In [49]:
#Average Total Research for AAU Univerisiies in 2014 (61st-80th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_80th[0]) & (AAU_total_research[search_string] <= TResearch_1514_80th[1])][search_string].mean().astype(int)

745075

In [50]:
TResearch_1514_100th = np.percentile(AAU_total_research[search_string],[81,100])

In [51]:
#Average Total Research for AAU Univerisiies in 2014 (61st-80th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_100th[0]) & (AAU_total_research[search_string] <= TResearch_1514_100th[1])][search_string].mean().astype(int)

1108144

**Federal Research for AAU In Year 15-14**

In [68]:
search_string_1 = '2014\n***\nFederal Research \n x $1000'

In [69]:
FResearch_1514_20th = np.percentile(AAU_fed_research[search_string_1],[0,20])

In [70]:
#Average Federal Research for AAU Univerisiies in 2014 (0th-20th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_20th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_20th[1])][search_string_1].mean().astype(int)

98634

In [72]:
FResearch_1514_40th = np.percentile(AAU_fed_research[search_string_1],[21,40])

In [73]:
#Average Federal Research for AAU Univerisiies in 2014 (21st-40th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_40th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_40th[1])][search_string_1].mean().astype(int)

233178

In [74]:
FResearch_1514_60th = np.percentile(AAU_fed_research[search_string_1],[41,60])

In [75]:
#Average Federal Research for AAU Univerisiies in 2014 (-60th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_60th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_60th[1])][search_string_1].mean().astype(int)

316114

In [77]:
FResearch_1514_80th = np.percentile(AAU_fed_research[search_string_1],[61,80])

In [78]:
#Average Federal Research for AAU Univerisiies in 2014 (41th-60th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_80th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_80th[1])][search_string_1].mean().astype(int)

452751

In [79]:
FResearch_1514_100th = np.percentile(AAU_fed_research[search_string_1],[81,100])

In [ ]:
#Average Federal Research for AAU Univerisiies in 2014 (41th-60th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_80th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_80th[1])][search_string_1].mean().astype(int)