In [1]:
#Important python libraries for data manipulating
import numpy as np
import pandas as pd

In [2]:
# Read excel files
total_research = pd.read_excel('total_research.xlsx',header=2)
federal_research = pd.read_excel('federal_research.xlsx',header=2)
endowment_asserts = pd.read_excel('endowment_assets.xlsx',header=2)
annual_giving = pd.read_excel('annual_giving.xlsx',header=2)
natl_academy = pd.read_excel('natl_academy.xlsx',header=2)
faculty_awards = pd.read_excel('faculty_awards.xlsx',header=2)
dr_awards = pd.read_excel('doctorates.xlsx',header=2)
postdocs = pd.read_excel('postdocs.xlsx',header=2)

In [3]:
data = [endowment_asserts, annual_giving, natl_academy, faculty_awards, dr_awards,
        total_research, federal_research, postdocs]

In [16]:
total_research.head()

,Research Group,Control,Institutions Reporting Any Federal Research in Past Five Years (in Alphabetical Order),2014 *** Total Research x $1000 - TR,2014 *** National Rank - TR,2014 *** Control Rank - TR,2013 *** Total Research x $1000 - TR,2013 *** National Rank - TR,2013 *** Control Rank - TR,2012 *** Total Research x $1000 - TR,...,1993 *** Control Rank - TR,1992 *** Total Research x $1000 - TR,1992 *** National Rank - TR,1992 *** Control Rank - TR,1991 *** Total Research x $1000 - TR,1991 *** National Rank - TR,1991 *** Control Rank - TR,1990 *** Total Research x $1000 - TR,1990 *** National Rank - TR,1990 *** Control Rank - TR
NaN,Under $1M,Private,A.T. Still University of Health Sciences,926,603,221,744,632,235,0,...,137,856,395,128,624,408,133,539,423,144
NaN,Under $1M,Private,Abilene Christian University,437,725,287,524,686,266,647,...,167,599,429,146,493,429,144,312,462,165
NaN,Under $1M,Private,Adelphi University,188,840,349,157,862,368,98,...,213,355,452,160,405,446,158,499,432,150
NaN,Under $1M,Private,Agnes Scott College,364,758,307,272,796,332,852,...,278,0,571,223,0,567,219,0,570,220
NaN,$5-$20M,Public,Air Force Institute of Technology,23335,249,183,26234,244,182,30609,...,214,3813,277,196,2243,305,218,2200,303,216

In [6]:
total_research.columns[:4]

Index(['Research Group', 'Control',
       'Institutions Reporting Any\nFederal Research in Past Five Years\n(in Alphabetical Order)',
       '2014\n***\nTotal Research \n x $1000'],
      dtype='object')

In [7]:
key_cols = ['Research Group','Control', 
    'Institutions Reporting Any\nFederal Research in Past Five Years\n(in Alphabetical Order)'
]
cols_total = key_cols.copy()
cols_fed = key_cols.copy()
cols_endowment = key_cols.copy()
cols_giving = key_cols.copy()
cols_nat_member = key_cols.copy()
cols_fac_award = key_cols.copy()
cols_doc_award = key_cols.copy()
cols_postdoc = key_cols.copy()

In [8]:
for column in total_research.columns:
    if column not in key_cols:
        cols_total.append(column + ' - TR')
total_research.columns = cols_total

In [9]:
for column in federal_research.columns:
    if column not in key_cols:
        cols_fed.append(column + ' - FR')
federal_research.columns = cols_fed

In [10]:
for column in endowment_asserts.columns:
    if column not in key_cols:
        cols_endowment.append(column + ' - EA')
endowment_asserts.columns = cols_endowment

In [11]:
for column in annual_giving.columns:
    if column not in key_cols:
        cols_giving.append(column + ' - AG')
annual_giving.columns = cols_giving

In [12]:
for column in natl_academy.columns:
    if column not in key_cols:
        cols_nat_member.append(column + ' - NM')
natl_academy.columns = cols_nat_member

In [13]:
for column in faculty_awards.columns:
    if column not in key_cols:
        cols_fac_award.append(column + ' - FA')
faculty_awards.columns = cols_fac_award

In [14]:
for column in dr_awards.columns:
    if column not in key_cols:
        cols_doc_award.append(column + ' - DA')
dr_awards.columns = cols_doc_award

In [15]:
for column in postdocs.columns:
    if column not in key_cols:
        cols_postdoc.append(column + ' - PA')
postdocs.columns = cols_postdoc

In [17]:
merge_cols = ['Institutions Reporting Any\nFederal Research in Past Five Years\n(in Alphabetical Order)',
        'Research Group', 'Control'
]
new_df = pd.merge(total_research,federal_research,on=key_cols)
new_df = pd.merge(new_df,endowment_asserts,on=key_cols)
new_df = pd.merge(new_df,annual_giving,on=key_cols)
new_df = pd.merge(new_df,natl_academy,on=key_cols)
new_df = pd.merge(new_df,faculty_awards,on=key_cols)
new_df = pd.merge(new_df,dr_awards,on=key_cols)
new_df = pd.merge(new_df,postdocs,on=key_cols)

In [21]:
new_df.to_excel('combined dataset.xlsx')