In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
total_research = pd.read_excel('total_research.xlsx')
federal_research = pd.read_excel('federal_research.xlsx')
endowment_asserts = pd.read_excel('endowment_assets.xlsx')
annual_giving = pd.read_excel('annual_giving.xlsx')
natl_academy = pd.read_excel('natl_academy.xlsx')
faculty_awards = pd.read_excel('faculty_awards.xlsx')
dr_awards = pd.read_excel('doctorates.xlsx')
postdocs = pd.read_excel('postdocs.xlsx')

In [3]:
data = [endowment_asserts, annual_giving, natl_academy, faculty_awards, dr_awards,
        total_research, federal_research, postdocs]
data_2015 = [endowment_asserts, annual_giving,
       natl_academy, faculty_awards, dr_awards]
data_2014 = [total_research, federal_research, postdocs]

In [4]:
for dataset in data_2015:
    dataset.columns = dataset.iloc[0]
    dataset = dataset.reindex(dataset.index.drop(0))
for dataset in data_2014:
    dataset.columns = dataset.iloc[0]
    dataset = dataset.reindex(dataset.index.drop(0))

In [5]:
total_research.head(2)

,nan,Research Group,Control,Institutions Reporting Any Federal Research in Past Five Years (in Alphabetical Order),2014 *** Total Research x $1000,2014 *** National Rank,2014 *** Control Rank,2013 *** Total Research x $1000,2013 *** National Rank,2013 *** Control Rank,...,1993 *** Control Rank,1992 *** Total Research x $1000,1992 *** National Rank,1992 *** Control Rank,1991 *** Total Research x $1000,1991 *** National Rank,1991 *** Control Rank,1990 *** Total Research x $1000,1990 *** National Rank,1990 *** Control Rank
0,NaN,Research Group,Control,Institutions Reporting Any\nFederal Research i...,2014\n***\nTotal Research \n x $1000,2014\n***\nNational Rank,2014\n***\nControl Rank,2013\n***\nTotal Research \n x $1000,2013\n***\nNational Rank,2013\n***\nControl Rank,...,1993\n***\nControl Rank,1992\n***\nTotal Research \n x $1000,1992\n***\nNational Rank,1992\n***\nControl Rank,1991\n***\nTotal Research \n x $1000,1991\n***\nNational Rank,1991\n***\nControl Rank,1990\n***\nTotal Research \n x $1000,1990\n***\nNational Rank,1990\n***\nControl Rank
1,NaN,Under $1M,Private,A.T. Still University of Health Sciences,926,603,221,744,632,235,...,137,856,395,128,624,408,133,539,423,144

In [6]:
utsa = total_research["Institutions Reporting Any\nFederal Research in Past Five Years\n(in Alphabetical Order)"] == 'University of Texas - San Antonio'

In [7]:
total_research[utsa]

,nan,Research Group,Control,Institutions Reporting Any Federal Research in Past Five Years (in Alphabetical Order),2014 *** Total Research x $1000,2014 *** National Rank,2014 *** Control Rank,2013 *** Total Research x $1000,2013 *** National Rank,2013 *** Control Rank,...,1993 *** Control Rank,1992 *** Total Research x $1000,1992 *** National Rank,1992 *** Control Rank,1991 *** Total Research x $1000,1991 *** National Rank,1991 *** Control Rank,1990 *** Total Research x $1000,1990 *** National Rank,1990 *** Control Rank
862,NaN,$20-$40M,Public,University of Texas - San Antonio,42318,203,153,48599,196,147,...,212,0,571,349,0,567,349,0,570,351

In [8]:
utsa_1st = {}
for dataset in data_2015:
    utsa_1st[dataset.columns[4]] = dataset[utsa].iloc[:,4].values[0]
for dataset in data_2014:
    utsa_1st[dataset.columns[4]] = dataset[utsa].iloc[:,4].values[0]

In [9]:
utsa_1st

{'2015\n***\nEndowment Assets \n x $1000': 121962,
 '2015\n***\nAnnual Giving \n x $1000': 20309,
 '2015\n***\nAcademy Members': 1,
 '2015\n***\nFaculty Awards': 7,
 '2015\n***\nDoctorates': 109,
 '2014\n***\nTotal Research \n x $1000': 42318,
 '2014\n***\nFederal Research \n x $1000': 22518,
 '2014\n***\nPostdocs': 52}

In [10]:
utsa_2nd = {}
for dataset in data_2015:
    utsa_2nd[dataset.columns[7]] = dataset[utsa].iloc[:,7].values[0]
for dataset in data_2014:
    utsa_2nd[dataset.columns[7]] = dataset[utsa].iloc[:,7].values[0]
utsa_2nd

{'2014\n***\nEndowment Assets \n x $1000': 113909,
 '2014\n***\nAnnual Giving \n x $1000': 15457.53,
 '2014\n***\nAcademy Members': 0,
 '2014\n***\nFaculty Awards': 1,
 '2014\n***\nDoctorates': 106,
 '2013\n***\nTotal Research \n x $1000': 48599,
 '2013\n***\nFederal Research \n x $1000': 28066,
 '2013\n***\nPostdocs': 45}

In [11]:
utsa_3rd = {}
for dataset in data_2015:
    utsa_3rd[dataset.columns[10]] = dataset[utsa].iloc[:,10].values[0]
for dataset in data_2014:
    utsa_3rd[dataset.columns[10]] = dataset[utsa].iloc[:,10].values[0]
utsa_3rd

{'2013\n***\nEndowment Assets \n x $1000': 100825,
 '2013\n***\nAnnual Giving \n x $1000': 14157,
 '2013\n***\nAcademy Members': 0,
 '2013\n***\nFaculty Awards': 1,
 '2013\n***\nDoctorates': 92,
 '2012\n***\nTotal Research \n x $1000': 48700,
 '2012\n***\nFederal Research \n x $1000': 29168,
 '2012\n***\nPostdocs': 48}

In [12]:
utsa_4th = {}
for dataset in data_2015:
    utsa_4th[dataset.columns[13]] = dataset[utsa].iloc[:,13].values[0]
for dataset in data_2014:
    utsa_4th[dataset.columns[13]] = dataset[utsa].iloc[:,13].values[0]
utsa_4th

{'2012\n***\nEndowment Assets \n x $1000': 89521,
 '2012\n***\nAnnual Giving \n x $1000': 12179,
 '2012\n***\nAcademy Members': 0,
 '2012\n***\nFaculty Awards': 4,
 '2012\n***\nDoctorates': 77,
 '2011\n***\nTotal Research \n x $1000': 50496,
 '2011\n***\nFederal Research \n x $1000': 28011,
 '2011\n***\nPostdocs': 43}

In [13]:
utsa_5th = {}
for dataset in data_2015:
    utsa_5th[dataset.columns[16]] = dataset[utsa].iloc[:,16].values[0]
for dataset in data_2014:
    utsa_5th[dataset.columns[16]] = dataset[utsa].iloc[:,16].values[0]
utsa_5th

{'2011\n***\nEndowment Assets \n x $1000': 81760,
 '2011\n***\nAnnual Giving \n x $1000': 30899,
 '2011\n***\nAcademy Members': 0,
 '2011\n***\nFaculty Awards': 1,
 '2011\n***\nDoctorates': 69,
 '2010\n***\nTotal Research \n x $1000': 51480,
 '2010\n***\nFederal Research \n x $1000': 27036,
 '2010\n***\nPostdocs': 39}

In [14]:
index_col = ['Endowment Assets x $1000','Annual Giving x $1000','National Academy Members',
             'Faculty Awards','Doctorates Awared','Total Research x $1000', 'Federal Research x $1000',
             'Postdoctoral Appointees']

In [15]:
list(utsa_1st.values())

[121962, 20309, 1, 7, 109, 42318, 22518, 52]

In [16]:
utsa_dict = { 'Measure': index_col,'Year 2015 - 2014' : list(utsa_1st.values()),
            'Year 2014 - 2013': np.array(list(utsa_2nd.values())).astype(int),'Year 2013 - 2012': list(utsa_3rd.values()), 
            'Year 2012 - 2011': list(utsa_4th.values()),'Year 2011 - 2010': list(utsa_5th.values()),
          }

In [17]:
pd.DataFrame.from_dict(utsa_dict)

,Measure,Year 2015 - 2014,Year 2014 - 2013,Year 2013 - 2012,Year 2012 - 2011,Year 2011 - 2010
0,Endowment Assets x $1000,121962,113909,100825,89521,81760
1,Annual Giving x $1000,20309,15457,14157,12179,30899
2,National Academy Members,1,0,0,0,0
3,Faculty Awards,7,1,1,4,1
4,Doctorates Awared,109,106,92,77,69
5,Total Research x $1000,42318,48599,48700,50496,51480
6,Federal Research x $1000,22518,28066,29168,28011,27036
7,Postdoctoral Appointees,52,45,48,43,39

In [18]:
AAU_df = pd.read_excel('AAU.xlsx',sheet_name='Total Research 2008')

In [19]:
AAU_df.head()

,Percentile,Total Research x $1000,Unnamed: 2,Institution,Total Research x $1000.1,Average
0,20th,249503,NaN,Brandeis University,49797.000000,153561.825081
1,40th,379182,NaN,University of Oregon,67378.000000,NaN
2,60th,515890,NaN,Rice University,74254.000000,NaN
3,80th,649362,NaN,University of Kansas - Lawrence,111510.436196,NaN
4,NaN,NaN,NaN,Indiana University - Bloomington,150788.464770,NaN

In [20]:
AAU_list = AAU_df['Institution'].values

In [21]:
AAU_list

array(['Brandeis University', 'University of Oregon', 'Rice University',
       'University of Kansas - Lawrence',
       'Indiana University - Bloomington', 'Tulane University',
       'Brown University', 'Princeton University',
       'University of California - Santa Barbara',
       'Carnegie Mellon University', 'Iowa State University',
       'University of Missouri - Columbia', 'Stony Brook University',
       'University of Virginia', 'University of Colorado - Boulder',
       'California Institute of Technology', 'University of Iowa',
       'Rutgers the State University of NJ - New Brunswick',
       'New York University', 'University of California - Irvine',
       'University at Buffalo', 'Michigan State University',
       'University of Chicago', 'University of Rochester',
       'University of Maryland - College Park',
       'Case Western Reserve University', 'Vanderbilt University',
       'Purdue University - West Lafayette', 'Emory University',
       'Harvard University', 'Cornell University',
       'Northwestern University', 'Yale University',
       'University of Texas - Austin',
       'University of Illinois - Urbana-Champaign',
       'University of Southern California',
       'Georgia Institute of Technology',
       'University of North Carolina - Chapel Hill',
       'University of Arizona', 'Columbia University',
       'Washington University in St. Louis', 'Texas A&M University',
       'University of Florida', 'University of California - Berkeley',
       'University of Pittsburgh - Pittsburgh',
       'Pennsylvania State University - University Park',
       'University of California - Davis',
       'Massachusetts Institute of Technology',
       'University of Minnesota - Twin Cities', 'Stanford University',
       'Ohio State University - Columbus', 'University of Pennsylvania',
       'University of Washington - Seattle', 'Duke University',
       'University of California - San Diego',
       'University of California - Los Angeles',
       'University of Michigan - Ann Arbor',
       'University of Wisconsin - Madison', 'Johns Hopkins University'],
      dtype=object)

In [22]:
col_name = "Institutions Reporting Any\nFederal Research in Past Five Years\n(in Alphabetical Order)"

**Get different dataframe for AAU list**

In [23]:
AAU_total_research = total_research[total_research[col_name].isin(AAU_list)].copy()

In [24]:
AAU_total_research.drop(AAU_total_research.columns[0],axis=1,inplace=True)

In [25]:
AAU_fed_research = federal_research[federal_research[col_name].isin(AAU_list)].copy().drop(federal_research.columns[0],axis=1)

In [26]:
AAU_endow_assets = endowment_asserts[endowment_asserts[col_name].isin(AAU_list)].copy()

In [27]:
AAU_endow_assets.drop(AAU_endow_assets.columns[0],axis=1,inplace=True)

In [28]:
AAU_annual_giving = annual_giving[annual_giving[col_name].isin(AAU_list)].copy()

In [29]:
AAU_annual_giving.drop(AAU_annual_giving.columns[0],axis=1,inplace=True)

In [30]:
AAU_nat_member = natl_academy[natl_academy[col_name].isin(AAU_list)].copy()

In [31]:
AAU_nat_member.drop(AAU_nat_member.columns[0],axis=1,inplace=True)

In [32]:
AAU_fac_award = faculty_awards[faculty_awards[col_name].isin(AAU_list)].copy()

In [33]:
AAU_fac_award.drop(AAU_fac_award.columns[0],axis=1,inplace=True)

In [34]:
AAU_doc_award = dr_awards[dr_awards[col_name].isin(AAU_list)].copy()

In [35]:
AAU_doc_award.drop(AAU_doc_award.columns[0],axis=1,inplace=True)

In [36]:
AAU_postdoc = postdocs[postdocs[col_name].isin(AAU_list)].copy()

In [37]:
AAU_postdoc.drop(AAU_postdoc.columns[0],axis=1,inplace=True)

**Total Research for AAU In Year 15-14**

In [38]:
search_string = '2014\n***\nTotal Research \n x $1000'

In [39]:
TResearch_1514_20th = np.percentile(AAU_total_research[search_string],[0,20])

In [40]:
#Average Total Research for AAU Univerisiies in 2014 (0th-20th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_20th[0]) & (AAU_total_research[search_string] <= TResearch_1514_20th[1])][search_string].mean().astype(int)

189320

In [41]:
TResearch_1514_40th = np.percentile(AAU_total_research[search_string],[21,40])

In [42]:
#Average Total Research for AAU Univerisiies in 2014 (21st-40th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_40th[0]) & (AAU_total_research[search_string] <= TResearch_1514_40th[1])][search_string].mean().astype(int)

372768

In [43]:
TResearch_1514_60th = np.percentile(AAU_total_research[search_string],[41,60])

In [44]:
#Average Total Research for AAU Univerisiies in 2014 (41st-60th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_60th[0]) & (AAU_total_research[search_string] <= TResearch_1514_60th[1])][search_string].mean().astype(int)

567036

In [45]:
TResearch_1514_80th = np.percentile(AAU_total_research[search_string],[61,80])

In [46]:
#Average Total Research for AAU Univerisiies in 2014 (61st-80th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_80th[0]) & (AAU_total_research[search_string] <= TResearch_1514_80th[1])][search_string].mean().astype(int)

745075

In [47]:
TResearch_1514_100th = np.percentile(AAU_total_research[search_string],[81,100])

In [48]:
#Average Total Research for AAU Univerisiies in 2014 (61st-80th)
AAU_total_research[(AAU_total_research[search_string] >= TResearch_1514_100th[0]) & 
                   (AAU_total_research[search_string] <= TResearch_1514_100th[1])][search_string].mean().astype(int)

1108144

In [49]:
AAU_total_research[[col_name,search_string]].sort_values(by=col_name)

,Institutions Reporting Any Federal Research in Past Five Years (in Alphabetical Order),2014 *** Total Research x $1000
68,Brandeis University,67048
71,Brown University,291917
76,California Institute of Technology,358137
101,Carnegie Mellon University,250497
103,Case Western Reserve University,417436
163,Columbia University,844766
172,Cornell University,580936
196,Duke University,1031404
220,Emory University,551556
253,Georgia Institute of Technology,720248
271,Harvard University,875964
290,Indiana University - Bloomington,172380
301,Iowa State University,297293
309,Johns Hopkins University,2227536
367,Massachusetts Institute of Technology,815008
381,Michigan State University,492501
435,New York University,490614
457,Northwestern University,621504
466,Ohio State University - Columbus,752836
492,Pennsylvania State University - University Park,702912
510,Princeton University,287730
514,Purdue University - West Lafayette,502457
524,Rice University,136419
608,Stanford University,912244
634,Stony Brook University,210301
672,Tulane University,148784
687,University at Buffalo,370083
695,University of Arizona,575864
703,University of California - Berkeley,708485
704,University of California - Davis,699689
705,University of California - Irvine,322315
706,University of California - Los Angeles,920183
709,University of California - San Diego,1060207
711,University of California - Santa Barbara,225614
718,University of Chicago,378322
720,University of Colorado - Boulder,362882
731,University of Florida,652341
744,University of Illinois - Urbana-Champaign,598531
745,University of Iowa,436852
746,University of Kansas - Lawrence,169884
757,University of Maryland - College Park,472235
769,University of Michigan - Ann Arbor,1279603
776,University of Minnesota - Twin Cities,850880
779,University of Missouri - Columbia,233613
797,University of North Carolina - Chapel Hill,955601
814,University of Oregon,77655
815,University of Pennsylvania,792314
817,University of Pittsburgh - Pittsburgh,835838
830,University of Rochester,347161
844,University of Southern California,650506
856,University of Texas - Austin,526173
878,University of Virginia,337732
881,University of Washington - Seattle,1091135
889,University of Wisconsin - Madison,984830
907,Vanderbilt University,659418
921,Washington University in St. Louis,646756
966,Yale University,764002

In [50]:
aau_research_2014 = AAU_total_research[[col_name,search_string]].sort_values(by=search_string)
aau_research_2014.columns = ['Institution','Total Research x $1000']

In [51]:
writer = pd.ExcelWriter('UTSA vs AAU.xlsx')
aau_research_2014.to_excel(writer,'Total Research 2014')
# six_year.to_excel(writer,'6-year')
# writer.save()

**Federal Research for AAU In Year 15-14**

In [52]:
search_string_1 = '2014\n***\nFederal Research \n x $1000'

In [53]:
FResearch_1514_20th = np.percentile(AAU_fed_research[search_string_1],[0,20])

In [54]:
#Average Federal Research for AAU Univerisiies in 2014 (0th-20th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_20th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_20th[1])][search_string_1].mean().astype(int)

98634

In [55]:
FResearch_1514_40th = np.percentile(AAU_fed_research[search_string_1],[21,40])

In [56]:
#Average Federal Research for AAU Univerisiies in 2014 (21st-40th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_40th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_40th[1])][search_string_1].mean().astype(int)

233178

In [57]:
FResearch_1514_60th = np.percentile(AAU_fed_research[search_string_1],[41,60])

In [58]:
#Average Federal Research for AAU Univerisiies in 2014 (41st-60th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_60th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_60th[1])][search_string_1].mean().astype(int)

316114

In [59]:
FResearch_1514_80th = np.percentile(AAU_fed_research[search_string_1],[61,80])

In [60]:
#Average Federal Research for AAU Univerisiies in 2014 (61st-80th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_80th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_80th[1])][search_string_1].mean().astype(int)

452751

In [61]:
FResearch_1514_100th = np.percentile(AAU_fed_research[search_string_1],[81,100])

In [62]:
#Average Federal Research for AAU Univerisiies in 2014 (61st-80th)
AAU_fed_research[(AAU_fed_research[search_string_1] >= FResearch_1514_100th[0]) & (AAU_fed_research[search_string_1] <= FResearch_1514_100th[1])][search_string_1].mean().astype(int)

745711

In [63]:
#Average Federal Research for AAU Univerisiies in 2014 (21st-40th)
AAU_fed_research[[col_name,search_string_1]].sort_values(by=search_string_1)

,Institutions Reporting Any Federal Research in Past Five Years (in Alphabetical Order),2014 *** Federal Research x $1000
68,Brandeis University,45800
814,University of Oregon,62824
524,Rice University,73782
290,Indiana University - Bloomington,80109
746,University of Kansas - Lawrence,88725
672,Tulane University,94287
779,University of Missouri - Columbia,102784
634,Stony Brook University,111386
301,Iowa State University,115285
711,University of California - Santa Barbara,119816
71,Brown University,125005
510,Princeton University,163805
705,University of California - Irvine,180431
687,University at Buffalo,185144
878,University of Virginia,192907
101,Carnegie Mellon University,198247
514,Purdue University - West Lafayette,227857
745,University of Iowa,234122
381,Michigan State University,247970
830,University of Rochester,265686
718,University of Chicago,276237
76,California Institute of Technology,276447
731,University of Florida,279920
695,University of Arizona,286595
172,Cornell University,299320
720,University of Colorado - Boulder,302877
703,University of California - Berkeley,309305
856,University of Texas - Austin,313955
435,New York University,314712
704,University of California - Davis,327697
103,Case Western Reserve University,328548
757,University of Maryland - College Park,328828
220,Emory University,329254
744,University of Illinois - Urbana-Champaign,336172
457,Northwestern University,385888
907,Vanderbilt University,408743
921,Washington University in St. Louis,410115
466,Ohio State University - Columbus,416177
844,University of Southern California,421887
706,University of California - Los Angeles,458157
492,Pennsylvania State University - University Park,461896
966,Yale University,475585
367,Massachusetts Institute of Technology,480991
776,University of Minnesota - Twin Cities,483542
253,Georgia Institute of Technology,510422
889,University of Wisconsin - Madison,522251
271,Harvard University,554944
196,Duke University,556847
817,University of Pittsburgh - Pittsburgh,565409
163,Columbia University,591523
709,University of California - San Diego,597270
797,University of North Carolina - Chapel Hill,601933
815,University of Pennsylvania,606115
608,Stanford University,608342
769,University of Michigan - Ann Arbor,733779
881,University of Washington - Seattle,849713
309,Johns Hopkins University,1936953

In [64]:
aau_federal_2014 = AAU_fed_research[[col_name,search_string_1]].sort_values(by=search_string_1)
aau_federal_2014.columns = ['Institution','Federal Research']

In [65]:
aau_research_2014.to_excel(writer,'Federal Research 2014')

**Endowmen Assets for AAU In Year 15-14**

In [66]:
searh_string_2 = '2015\n***\nEndowment Assets \n x $1000'

In [67]:
Assets_1514_20th = np.percentile(AAU_endow_assets[searh_string_2],[0,20])

In [68]:
#Average Endowment Assets for AAU Univerisiies in 2015 (0tt-20th)
AAU_endow_assets[(AAU_endow_assets[searh_string_2] >= Assets_1514_20th[0]) & (AAU_endow_assets[searh_string_2] <= Assets_1514_20th[1])][searh_string_2].mean().astype(int)

643640

In [69]:
Assets_1514_40th = np.percentile(AAU_endow_assets[searh_string_2],[21,40])

In [70]:
#Average Endowment Assets for AAU Univerisiies in 2015 (21st-40th)
AAU_endow_assets[(AAU_endow_assets[searh_string_2] >= Assets_1514_40th[0]) & (AAU_endow_assets[searh_string_2] <= Assets_1514_40th[1])][searh_string_2].mean().astype(int)

1449401

In [71]:
Assets_1514_60th = np.percentile(AAU_endow_assets[searh_string_2],[41,60])

In [72]:
#Average Endowment Assets for AAU Univerisiies in 2015 (41st-60th)
AAU_endow_assets[(AAU_endow_assets[searh_string_2] >= Assets_1514_60th[0]) & (AAU_endow_assets[searh_string_2] <= Assets_1514_60th[1])][searh_string_2].mean().astype(int)

2859602

In [73]:
Assets_1514_80th = np.percentile(AAU_endow_assets[searh_string_2],[61,80])

In [74]:
#Average Endowment Assets for AAU Univerisiies in 2015 (61st-80th)
AAU_endow_assets[(AAU_endow_assets[searh_string_2] >= Assets_1514_80th[0]) & (AAU_endow_assets[searh_string_2] <= Assets_1514_80th[1])][searh_string_2].mean().astype(int)

5011277

In [75]:
Assets_1514_100th = np.percentile(AAU_endow_assets[searh_string_2],[61,80])

In [76]:
#Average Endowment Assets for AAU Univerisiies in 2015 (81st-100th)
AAU_endow_assets[(AAU_endow_assets[searh_string_2] >= Assets_1514_100th[0]) & (AAU_endow_assets[searh_string_2] <= Assets_1514_100th[1])][searh_string_2].mean().astype(int)

5011277

In [77]:
aau_assets_2015 = AAU_endow_assets[[col_name,searh_string_2]].sort_values(by=searh_string_2)
aau_assets_2015.columns = ['Institution','Endowment Assets']

In [78]:
aau_assets_2015.to_excel(writer,'Endowment 2015')

**Annual Giving for AAU In Year 15-14**

In [79]:
search_string_3 = '2015\n***\nAnnual Giving \n x $1000'

In [80]:
giving_2015_20th = np.percentile(AAU_annual_giving[search_string_3],[0,20])

In [81]:
#Average Annual Giving for AAU Univerisiies in 2015 (0th-20th)
AAU_annual_giving[(AAU_annual_giving[search_string_3] >= giving_2015_20th[0]) &
                 (AAU_annual_giving[search_string_3] <= giving_2015_20th[1])][search_string_3].mean().astype(int)

90127

In [82]:
giving_2015_40th = np.percentile(AAU_annual_giving[search_string_3],[21,40])

In [83]:
#Average Annual Giving for AAU Univerisiies in 2015 (21st-40th)
AAU_annual_giving[(AAU_annual_giving[search_string_3] >= giving_2015_40th[0]) &
                  (AAU_annual_giving[search_string_3] <= giving_2015_40th[1])][search_string_3].mean().astype(int)

145093

In [84]:
giving_2015_60th = np.percentile(AAU_annual_giving[search_string_3],[41,60])

In [85]:
#Average Annual Giving for AAU Univerisiies in 2015 (41st-60th)
AAU_annual_giving[(AAU_annual_giving[search_string_3] >= giving_2015_60th[0]) &
                  (AAU_annual_giving[search_string_3] <= giving_2015_60th[1])][search_string_3].mean().astype(int)

202268

In [86]:
giving_2015_80th = np.percentile(AAU_annual_giving[search_string_3],[61,80])

In [87]:
#Average Annual Giving for AAU Univerisiies in 2015 (61st-80th)
AAU_annual_giving[(AAU_annual_giving[search_string_3] >= giving_2015_80th[0]) &
                  (AAU_annual_giving[search_string_3] <= giving_2015_80th[1])][search_string_3].mean().astype(int)

385953

In [88]:
giving_2015_100th = np.percentile(AAU_annual_giving[search_string_3],[81,100])

In [89]:
#Average Annual Giving for AAU Univerisiies in 2015 (81st-100th)
AAU_annual_giving[(AAU_annual_giving[search_string_3] >= giving_2015_100th[0]) &
                  (AAU_annual_giving[search_string_3] <= giving_2015_100th[1])][search_string_3].mean().astype(int)

677763

In [90]:
aau_giving_2015 = AAU_annual_giving[[col_name,search_string_3]].sort_values(by=search_string_3)
aau_giving_2015.columns = ['Institution', 'Annual Giving']

In [91]:
aau_giving_2015.to_excel(writer,'Annual Giving 2015')

**National Academy Members for AAU In Year 15-14**

In [92]:
search_string_4 = '2015\n***\nAcademy Members'

In [93]:
member_2015_20th = np.percentile(AAU_nat_member[search_string_4],[0,20])

In [94]:
#Average National Academy Members for AAU Univerisiies in 2015 (0th-20th)
AAU_nat_member[(AAU_nat_member[search_string_4] >= member_2015_20th[0]) &
               (AAU_nat_member[search_string_4] <= member_2015_20th[1])][search_string_4].mean().astype(int)

11

In [95]:
member_2015_40th = np.percentile(AAU_nat_member[search_string_4],[21,40])

In [96]:
#Average National Academy Members for AAU Univerisiies in 2015 (21st-40th)
AAU_nat_member[(AAU_nat_member[search_string_4] >= member_2015_40th[0]) &
               (AAU_nat_member[search_string_4] <= member_2015_40th[1])][search_string_4].mean().astype(int)

26

In [97]:
member_2015_60th = np.percentile(AAU_nat_member[search_string_4],[41,60])

In [98]:
#Average National Academy Members for AAU Univerisiies in 2015 (41st-60th)
AAU_nat_member[(AAU_nat_member[search_string_4] >= member_2015_60th[0]) &
               (AAU_nat_member[search_string_4] <= member_2015_60th[1])][search_string_4].mean().astype(int)

36

In [99]:
member_2015_80th = np.percentile(AAU_nat_member[search_string_4],[61,80])

In [100]:
#Average National Academy Members for AAU Univerisiies in 2015 (61st-80th)
AAU_nat_member[(AAU_nat_member[search_string_4] >= member_2015_80th[0]) &
               (AAU_nat_member[search_string_4] <= member_2015_80th[1])][search_string_4].mean().astype(int)

71

In [101]:
member_2015_100th = np.percentile(AAU_nat_member[search_string_4],[81,100])

In [102]:
#Average National Academy Members for AAU Univerisiies in 2015 (61st-80th)
AAU_nat_member[(AAU_nat_member[search_string_4] >= member_2015_100th[0]) &
               (AAU_nat_member[search_string_4] <= member_2015_100th[1])][search_string_4].mean().astype(int)

183

In [103]:
aau_member_2015 = AAU_nat_member[[col_name,search_string_4]].sort_values(by=search_string_4)
aau_member_2015.columns = ['Institution', 'National Academy Members']
aau_member_2015.to_excel(writer,'National Academy Members 2015')

**Faculty Awards 2015 (AAU)**

In [104]:
search_string_5 = '2015\n***\nFaculty Awards'

In [105]:
fac_2015_20th = np.percentile(AAU_fac_award[search_string_5],[0,20])

In [106]:
#Average Faculty Awards for AAU Univerisiies in 2015 0-20
AAU_fac_award[(AAU_fac_award[search_string_5] >= fac_2015_20th[0]) &
               (AAU_fac_award[search_string_5] <= fac_2015_20th[1])][search_string_5].sort_values().mean().astype(int)

8

In [107]:
fac_2015_40th = np.percentile(AAU_fac_award[search_string_5],[21,40])

In [108]:
#Average Faculty Awards for AAU Univerisiies in 2015 21-40
AAU_fac_award[(AAU_fac_award[search_string_5] >= fac_2015_40th[0]) &
              (AAU_fac_award[search_string_5] <= fac_2015_40th[1])][search_string_5].sort_values().mean().astype(int)

13

In [109]:
fac_2015_60th = np.percentile(AAU_fac_award[search_string_5],[41,60])

In [110]:
#Average Faculty Awards for AAU Univerisiies in 2015 41-60
AAU_fac_award[(AAU_fac_award[search_string_5] >= fac_2015_60th[0]) &
              (AAU_fac_award[search_string_5] <= fac_2015_60th[1])][search_string_5].sort_values().mean().astype(int)

19

In [111]:
fac_2015_80th = np.percentile(AAU_fac_award[search_string_5],[61,80])

In [112]:
#Average Faculty Awards for AAU Univerisiies in 2015 61-80
AAU_fac_award[(AAU_fac_award[search_string_5] >= fac_2015_80th[0]) &
              (AAU_fac_award[search_string_5] <= fac_2015_80th[1])][search_string_5].sort_values().mean().astype(int)

29

In [113]:
fac_2015_100th = np.percentile(AAU_fac_award[search_string_5],[81,100])

In [114]:
#Average Faculty Awards for AAU Univerisiies in 2015 81-100
AAU_fac_award[(AAU_fac_award[search_string_5] >= fac_2015_100th[0]) &
              (AAU_fac_award[search_string_5] <= fac_2015_100th[1])][search_string_5].sort_values().mean().astype(int)

38

In [115]:
aau_award_2015 = AAU_fac_award[[col_name,search_string_5]].sort_values(by=search_string_5)
aau_award_2015.columns = ['Institution', 'Faculty Awards']
aau_award_2015.to_excel(writer,'Faculty Awards 2015')

**Doctorates Granted 2015**

In [116]:
search_string_6 = '2015\n***\nDoctorates'

In [117]:
dr_2015_20th = np.percentile(AAU_doc_award[search_string_6],[0,20])

In [118]:
#Average PhD Awards for AAU Univerisiies in 2015 0-20
AAU_doc_award[(AAU_doc_award[search_string_6] >= dr_2015_20th[0]) &
              (AAU_doc_award[search_string_6] <= dr_2015_20th[1])][search_string_6].sort_values().mean().astype(int)

223

In [119]:
dr_2015_40th = np.percentile(AAU_doc_award[search_string_6],[21,40])

In [120]:
#Average PhD Awards for AAU Univerisiies in 2015 21-40
AAU_doc_award[(AAU_doc_award[search_string_6] >= dr_2015_40th[0]) &
              (AAU_doc_award[search_string_6] <= dr_2015_40th[1])][search_string_6].sort_values().mean().astype(int)

374

In [121]:
dr_2015_60th = np.percentile(AAU_doc_award[search_string_6],[41,60])

In [122]:
#Average PhD Awards for AAU Univerisiies in 2015 41-60
AAU_doc_award[(AAU_doc_award[search_string_6] >= dr_2015_40th[0]) &
              (AAU_doc_award[search_string_6] <= dr_2015_40th[1])][search_string_6].sort_values().mean().astype(int)

374

In [123]:
dr_2015_80th = np.percentile(AAU_doc_award[search_string_6],[61,80])

In [124]:
#Average PhD Awards for AAU Univerisiies in 2015 61-80
AAU_doc_award[(AAU_doc_award[search_string_6] >= dr_2015_80th[0]) &
              (AAU_doc_award[search_string_6] <= dr_2015_80th[1])][search_string_6].sort_values().mean().astype(int)

610

In [125]:
dr_2015_100th = np.percentile(AAU_doc_award[search_string_6],[81,100])

In [126]:
#Average PhD Awards for AAU Univerisiies in 2015 81-100
AAU_doc_award[(AAU_doc_award[search_string_6] >= dr_2015_100th[0]) &
              (AAU_doc_award[search_string_6] <= dr_2015_100th[1])][search_string_6].sort_values().mean().astype(int)

803

In [127]:
aau_dr_2015 = AAU_doc_award[[col_name,search_string_6]].sort_values(by=search_string_6)
aau_dr_2015.columns = ['Institution', 'Doctorates Awards']
aau_dr_2015.to_excel(writer,'Doctorates Awards 2015')

**Postdoctoral Appointees 2014**

In [128]:
search_string_7 = '2014\n***\nPostdocs'

In [129]:
postdr_2014_20th = np.percentile(AAU_postdoc[search_string_7],[0,20])

In [130]:
#Average Postdoc Appointees for AAU Univerisiies in 2008 0-20
AAU_postdoc[(AAU_postdoc[search_string_7] >= postdr_2014_20th[0]) &
            (AAU_postdoc[search_string_7] <= postdr_2014_20th[1])][search_string_7].sort_values().mean().astype(int)

172

In [131]:
postdr_2014_40th = np.percentile(AAU_postdoc[search_string_7],[21,40])

In [ ]:
#Average Postdoc Appointees for AAU Univerisiies in 2008 21-40
AAU_postdoc[(AAU_postdoc[search_string_7] >= postdr_2014_40th[0]) &
            (AAU_postdoc[search_string_7] <= postdr_2014_40th[1])][search_string_7].sort_values().mean().astype(int)

In [ ]:
postdr_2014_60th = np.percentile(AAU_postdoc[search_string_7],[41,60])

In [ ]:
#Average Postdoc Appointees for AAU Univerisiies in 2008 41-60
AAU_postdoc[(AAU_postdoc[search_string_7] >= postdr_2014_60th[0]) &
            (AAU_postdoc[search_string_7] <= postdr_2014_60th[1])][search_string_7].sort_values().mean().astype(int)

In [ ]:
postdr_2014_80th = np.percentile(AAU_postdoc[search_string_7],[61,80])

In [ ]:
#Average Postdoc Appointees for AAU Univerisiies in 2008 61-80
AAU_postdoc[(AAU_postdoc[search_string_7] >= postdr_2014_80th[0]) &
            (AAU_postdoc[search_string_7] <= postdr_2014_80th[1])][search_string_7].sort_values().mean().astype(int)

In [ ]:
postdr_2014_100th = np.percentile(AAU_postdoc[search_string_7],[81,100])

In [ ]:
#Average Postdoc Appointees for AAU Univerisiies in 2008 61-80
AAU_postdoc[(AAU_postdoc[search_string_7] >= postdr_2014_100th[0]) &
            (AAU_postdoc[search_string_7] <= postdr_2014_100th[1])][search_string_7].sort_values().mean().astype(int)

In [ ]:
aau_postdr_2015 = AAU_postdoc[[col_name,search_string_7]].sort_values(by=search_string_7)
aau_postdr_2015.columns = ['Institution', 'Postdoctoral Appointees']
aau_postdr_2015.to_excel(writer,'Postdoctoral Appointees 2008')
writer.save()